<div class="py-4 px-6 mb-6">
  <div class="flex items-center">
    <h3 class="mb-3 font-rowdies text-4xl text-accent-400 font-bold mr-2">
      Your Albums
    </h3>
    <%= link_to new_album_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path fill="#ee6c4d" d="M11 19V13H5V11H11V5H13V11H19V13H13V19Z"/></svg>
    <% end %>
  </div>

  <% if @albums.present? %>
    <div class="flex space-x-8 scrollable bar pb-2">
      <% @albums.each do |album| %>
        <div>
          <%= button_to album_path(album),
            method: :get,
            class: "rounded-lg w-72 h-72",
            style: "background: no-repeat center/cover url(#{album.cover_image_url});" do %> 
            <div 
              class="h-full w-full gradient relative rounded-lg"
              style="--gradient-from-color: <%= hex_color_to_rgba(album.color, 0.67) %>; --gradient-to-color: <%= hex_color_to_rgba("#000000", 0.2) %>;"
            >
            <div class="w-full p-4 absolute bottom-0 text-lg font-medium rounded-b-lg" style="background-color: <%= album.color %>;">
              <p class="overflow-hidden whitespace-nowrap text-ellipsis">
              <abbr class="no-underline border-none" style="color: <%= text_color_from_bg(album.color) %>;" title="<%= album.name %>">
                <%= album.name %>
              </abbr>
              </p>
            </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-grey-50 mb-4">
      You don't have any albums at this moment.
    </p>

    <%= link_to "Create Album", new_album_path, class: "mt-4 py-2 px-3 bg-accent-200 rounded-md hover:bg-accent-700" %>
  <% end %>
</div>

<% if @albums.present? && @albums[0].songs.present? %>
  <%= render "components/player", song: @albums[0].songs[0] %>
<% end %>
