<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Branti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-screen relative overflow-hidden">
    <%# TODO: <%= flash[:notice] if flash[:notice] %1> %>
    <aside id="sidebar" class="bg-dark h-full">
      <div class="py-4 px-6">
        <a href="<%= root_path %>">
          <div class="flex flex-row items-center">
          <svg width="66" height="62" viewBox="0 0 66 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="13.6667" cy="15.5" rx="13.6667" ry="15.5" fill="#C4C4C4"/>
            <path d="M30.6711 51.1339L14.9383 26.6965C11.5109 21.3727 15.3332 14.366 21.6649 14.366H51.9333C58.138 14.366 61.9808 21.123 58.8089 26.4557L44.2732 50.8931C41.2356 56 33.8876 56.1301 30.6711 51.1339Z" stroke="#EE6C4D"/>
            <ellipse cx="50.9999" cy="39.6951" rx="13.6667" ry="15.5" fill="#C4C4C4"/>
          </svg>
          <span class="mx-1"></span>
          <h2 class="text-accent text-4xl font-bold">BRANTI</h2>
          </div>
        </a>
      </div>
    </aside>
    <main class="py-4 px-6">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "components/player" %>
    </main>
  </body>
</html>
