<h3 class="mb-3 font-rowdies text-4xl text-accent-400 font-bold">
  Sign up
</h3>

<div class="w-5/12">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, class: "mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <br />

  <div class="field">
    <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= f.email_field :email, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <%= f.submit "Sign up", class: "mt-4 mb-2 py-2 px-3 bg-accent-200 text-center rounded-md hover:bg-accent-700" %>

<% end %>
<%= render "users/shared/links" %>
</div>
